body {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
}

.app {
  max-width: 1500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .btn {
    width: 100%;
    margin: 25px 15px;
    background-color: #303030;
    border: 1px solid #444;
    color: #fff !important;
    cursor: auto;
    transition: 0.3s;
  }
}
