.answer-block {
  @media(max-width: 767px) {
    margin-bottom: 15px;
  }
  .item-list {
    height: 100%;
  }
  .list-group-item {
    height: calc(100%/6);
    padding: 0.85rem 1.25rem;
    background-color: #303030;
    border: 1px solid #555;
    cursor: pointer;
    &:hover {
      background-color: #444;
    }
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 15px;
      border-radius: 50%;
      transition: 0.1s;
      background-color: #444;
    }
    &.error {
      .li-btn {
        background-color: #d62c1a;
      }
    }
    &.success {
      .li-btn {
        background-color: #00bc8c;
      }
    }
  }
}
